<h3>Connection between two courses</h3>
<p id="notice"><%= notice %></p>
<% if can? :edit, @course_connection %>
<%= link_to 'Edit', edit_course_connection_path(@course_connection) %> ,
<% end %>
<%= link_to 'Back to Course Conenctions', course_connections_path %>

<hr>

<p>
  <strong>Parent course code:</strong>
  <%= link_to @course_connection.parent_course_code, Course.find_by(code: @course_connection.parent_course_code)  %>
</p>

<p>
  <strong>Child course code:</strong>
  <%= link_to @course_connection.child_course_code, Course.find_by(code: @course_connection.child_course_code) %>
</p>

<p>
  <strong>Required:</strong>
  <%= @course_connection.required %>
</p>


